body{ background: #F3F1F1; }
.navbar { background:#003bb3;}
.contenido { -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
              box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
              padding: 10px;
              background: #fff;}
.footer { background: #003bb3;
          height:50px;
          color: #fff;
          line-height: 50px;}
.texto { text-justify:auto; }